{% set crop = (crop is null)? { 'width': '1600', 'height': 'auto', 'mode': 'auto' }: crop %}
<picture {{ attrPicture|raw }}>
    {% if image.small %}<source media="(max-width: 639px)" srcset="{{ image.small.thumb(639,auto) }}">{% endif %}
    {% if image.medium %}<source media="(max-width: 959px)" srcset="{{ image.medium.thumb(959,auto) }}">{% endif %}
    {% if image.large %}<source media="(max-width: 1199px)" srcset="{{ image.large.thumb(1199,auto) }}">{% endif %}
    <img src="{{ image.xlarge.thumb(crop.width, crop.height, crop.mode) }}" alt="{{ image.xlarge.title }}" {{ attrImg|raw }}>
</picture>
