description = "Page layout"
[aditionalcode]
==
{% component 'aditionalcode' %}
<!DOCTYPE html>
<html>
    <head>
        {% placeholder seo default %}
            <title>{{ this.page.title }} - {{ this.theme.site_name }}</title>
            <meta name="description" content="{{ this.page.meta_description }}">
            <meta name="title" content="{{ this.page.meta_title }}">
            <meta name="author" content="Zoom-Marketing.pl">
        {% endplaceholder %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% placeholder appIcons default %}
        <link rel="icon" type="image/png" href="{{ mix('/images/favicon.png') }}">
        {% endplaceholder %}
        <link href="{{ mix('/css/app.css') }}" rel="stylesheet">
        {% styles %}
        {% placeholder headAfter %}
    </head>
    <body>
    {% placeholder bodyBefore %}
        <main class="main" id="app">
            {% partial 'layouts/default/header-page' %}
            {% page %}
            {% partial 'layouts/default/footer' %}
        </main>
        <script src="{{ mix('/js/app.js') }}" defer></script>
        <script type="text/javascript" src="{{ [
            '@framework',
            '@framework.extras'
        ]|theme }}.js" defer>
        </script>
        {% scripts %}
    {% placeholder bodyAfter %}
    </body>
</html>
