description = "System layout"
==
<!DOCTYPE html>
<html>
    <head>
        {% placeholder seo default %}
            <title>{{ this.page.title }} - {{ this.theme.site_name }}</title>
            <meta name="description" content="{{ this.page.meta_description }}">
            <meta name="title" content="{{ this.page.meta_title }}">
            <meta name="author" content="Zoom-Marketing.pl">
            <meta name="robots" content="noindex, nofollow" />
        {% endplaceholder %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% placeholder appIcons default %}
        <link rel="icon" type="image/png" href="{{ mix('/images/favicon.png') }}">
        {% endplaceholder %}
        <link href="{{ mix('/css/app.css') }}" rel="stylesheet">
        {% put styles %}
        <style>
            html, body{ height: 100%; }
        </style>
        {% endput %}
        {% styles %}
        {% placeholder headAfter %}
    </head>
    <body>
    {% placeholder bodyBefore %}
        <main id="app" class="uk-height-1-1">
            {% page %}
        </main>
        <script src="{{ mix('/js/app.js') }}"></script>
        <script type="text/javascript" src="{{ [
            '@framework',
            '@framework.extras'
        ]|theme }}.js">
        </script>
        {% scripts %}
    {% placeholder bodyAfter %}
    </body>

</html>
