[imageresponsive]
==
{% if post %}
<section class="article-in-list">
    <div class="article-in-list__picture">
        <a href="{{ 'blog/post'|page({slug: post.slug }) }}">
            {% if post.poster.xlarge %}
            {{ imageresponsive.picture(post.poster, { 'width': '200000', 'height': '375', 'mode': 'crop' }, null,
            'style="width: 100%"')|raw }}
            {% else %}
            <img src="{{ ('assets/dist/images/post-list.png')|theme }}"
                 data-src="{{ ('assets/dist/images/post-list.png')|theme }}" data-width="" data-height="" alt=""
                 data-uk-img style="width: 100%">
            {% endif %}
        </a>
    </div>
    <div class="article-in-list__content">
        <div class="article-in-list__content__header">
            <p class="article-in-list__content__header__subtitle">{{ post.short_description }}</p>
            <h2 class="article-in-list__content__header__title">
                <a href="{{ 'blog/post'|page({slug: post.slug }) }}">{{ post.name }}</a>
            </h2>
            <span class="article-in-list__content__header__description">
                {% for category in  post.categories %}
                    <span class="uk-margin-small-right">{{ category.name }}</span>
                {% endfor %}
            </span>
        </div>
        <div class="article-in-list__content__content uk-flex uk-flex-wrap">
            <div class="uk-width-4-5@m">
                {{ post.description|striptags|length > 512 ? post.description|striptags|slice(0,512)|raw :
                post.description|raw }}
                {{ post.description|striptags|length > 512 ? '...' : ''}}
            </div>
            <div class="uk-width-1-5@m uk-flex uk-flex-bottom uk-flex-right">
                <a href="{{ 'blog/post'|page({slug: post.slug }) }}" class="article-in-list__content__content__more">
                    <span data-uk-icon="chevron-right">{{ 'ZOBACZ WIĘCEJ'|_ }}</span>
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %}