{% if post is not null %}
<section class="post-in-products {% if i % 24 == 0%}post-in-products--reverse{% endif %} uk-flex uk-flex-wrap">
    <div class="post-in-products__picture uk-width-1-2@l">
        {% if post.poster and post.poster.xlarge %}
        <a href="{{ 'blog/post'|page({ slug: post.slug }) }}">
            <img class="uk-width-1-1" src="{{ post.poster.xlarge.thumb('885', '500', 'crop') }}" data-src="{{ ('assets/dist/images/post-list-big.png')|theme }}" data-width="" data-height="" alt="" data-uk-img>
        </a>
        {% endif %}
    </div>
    <div class="post-in-products__description uk-width-1-1 uk-width-1-3@l uk-padding uk-padding-remove@l">
        <div class="post-in-products__description__subtitle">Inspiracje</div>
        <h1 class="post-in-products__description__title">
            <a href="{{ 'blog/post'|page({ slug: post.slug }) }}">{{ post.name }}</a>
        </h1>
        <div class="post-in-products__description__description">
            {{ post.description|striptags|length > 256 ? post.description|striptags|slice(0,256)|raw : post.description|raw }}
            {{ post.description|striptags|length > 256 ? '...' : ''}}
        </div>
        <div class="post-in-products__description__more">
            <a href="{{ 'blog/post'|page({ slug: post.slug }) }}">{{ 'Zobacz więcej'|_ }} <span data-uk-icon="chevron-right"></span></a>
        </div>
    </div>
</section>
{% endif %}
