[iconsbox]
[socialmedia]
[places]
[CategoryList]
==
{% set obCategoryList = CategoryList.make().tree() %}
{% set iconsboxCompanyRecords = iconsbox.box('company') %}
{% set socialmediaRecords = socialmedia.socialMedia() %}
{% set place = places.place('primary') %}
{% if place %}
{% set phone = places.placeFiled('primary', 'phones', 'primary') %}
{% endif %}
<footer class="footer uk-background-primary" id="layout-footer">
    <div class="footer__container uk-grid-collapse container-inside uk-flex-wrap-stretch " data-uk-grid>
        <div class="uk-width-1-3@m footer-logo uk-visible@m">
            <span>
                <img src="{{ 'assets/dist/images/logo_footer.png'|theme }}" data-src="{{ 'assets/dist/images/logo_footer.png'|theme }}" data-width="" data-height="" alt="" data-uk-img>
            </span>
        </div>
        <div class="uk-width-1-4@m footer-menu uk-visible@m">
            <ul class="uk-list uk-text-uppercase footer-menu__list">
                {% if obCategoryList.isNotEmpty() %}
                {% for obCategory in obCategoryList if obCategory.product_count > 0 %}
                <li class="footer-menu__list__item"><a class="footer-menu__list__item__link" href="{{ obCategory.getPageUrl('shop/category') }}">{{ obCategory.name }}</a></li>
                {% endfor %}
                {% endif %}
                <li class="footer-menu__list__item"><a class="footer-menu__list__item__link" href="{{ 'shop/promotions'|page }}">{{ 'Promocje'|_ }}</a></li>
                <li class="footer-menu__list__item"><a class="footer-menu__list__item__link" href="{{ 'home'|page }}#about" data-uk-scroll="offset: 135">{{ 'O nas'|_ }}</a></li>
                <li class="footer-menu__list__item"><a class="footer-menu__list__item__link" href="{{ 'blog/category'|page({slug: 'inspiracje'}) }}">{{ 'Inspiracje'|_ }}</a></li>
                <li class="footer-menu__list__item"><a class="footer-menu__list__item__link" href="{{ 'faq'|page }}">{{ 'FAQ'|_ }}</a></li>
                <li class="footer-menu__list__item"><a class="footer-menu__list__item__link" href="{{ 'documents'|page }}">{{ 'Pliki do pobrania'|_ }}</a></li>
                <li class="footer-menu__list__item"><a class="footer-menu__list__item__link" href="{{ 'home'|page }}#contact" data-uk-scroll="offset: 135">{{ 'Kontakt'|_  }}</a></li>
            </ul>
        </div>
        <div class="uk-width-expand@m uk-flex uk-flex-column uk-flex-right footer-partners">
            <div class="uk-grid-collapse uk-width-expand" data-uk-grid>
                <div class="uk-width-1-4@m uk-flex uk-flex-row uk-flex-column@m uk-flex-center uk-flex-middle uk-flex-left@m uk-margin-remove-bottom@m">
                    <span>{{ 'Nasi partnerzy'|_}}:</span>
                </div>
                <div class="uk-width-3-4@m uk-flex uk-flex-middle uk-flex-center">
                    {% if iconsboxCompanyRecords %}
                    <ul class="uk-list footer-partners__list">
                        {% for box in iconsboxCompanyRecords.icons %}
                        <li class="footer-partners__list__item uk-text-center">
                            <img src="{{ box.icon|media }}" data-src="{{ box.icon|media }}" data-width="" data-height="" alt="{{ box.name }}" data-uk-img>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="uk-grid-collapse footer-partners__line" data-uk-grid>
                <div class="uk-width-1-4@m uk-flex uk-flex-row uk-flex-column@m uk-flex-center uk-flex-middle uk-flex-left@m uk-margin-remove-bottom@m">
                    <span>{{ 'Obserwuj nas'|_}}:</span>
                </div>
                <div class="uk-width-3-4@m uk-flex uk-flex-center footer-social">
                    {% for key, social in socialmediaRecords %}
                    <a href="{{ social }}" class="footer-social__item uk-icon-button uk-margin-right" data-uk-icon="{{ key }}"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer__copyright"></div>
<div class="phone-sticky">
    <a href="tel:{{ phone.value }}" class="uk-icon-button phone-sticky__icon" data-uk-icon="icon: whatsapp; ratio: 2;"></a>
</div>
