[slider]
slider = "home"
[imageresponsive]
==

<header class="header" id="layout-header">
    <div class="header-navbar" data-uk-sticky>
        {% partial 'components/navbar-contact'%}
        {% partial 'components/navbar-menu' mode="light" %}
    </div>
    {% if slider.slider() %}
    <div class="slider-home uk-position-relative uk-visible-toggle uk-light" tabindex="-1" data-uk-slideshow="animation: push; autoplay: false">
        <ul class="uk-slideshow-items">
            {% for slide in slider.slider().sliderItems %}
            {% if slide.poster %}
            <li>
                <div class="uk-position-cover">
                    {{ imageresponsive.picture(slide.poster, null, 'uk-cover', ' style="width: 100%"')|raw }}
                </div>
                <div class="slider-home__layer uk-position-bottom-right">
                    {% partial 'slider/layer' slide=slide %}
                </div>

                {% if slide.content %}
                {% set classes = {
                    'small': 'uk-hidden@s',
                    'medium': 'uk-hidden@m  uk-visible@s',
                    'large': 'uk-hidden@l uk-visible@m',
                    'xlarge': 'uk-visible@l',
                } %}
                <div class="uk-position-bottom-right">
                    {% for content in slide.content %}
                    <div class="slider-home__text {{ classes[content.size] }}" data-uk-slideshow-parallax="scale: 1,1,0.8">
                        {{ content.content|raw }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-previous data-uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-next data-uk-slideshow-item="next"></a>
    </div>
    {% endif %}
</header>
<hr class="header-bottom-line">

