<header class="header" id="layout-header">
    <div class="header-navbar" uk-sticky>
        {% partial 'components/navbar-contact' mode="dark" %}
        {% partial 'components/navbar-menu' mode="dark" %}
    </div>
</header>

