title = "Pliki do pobrania"
url = "/pliki-do-pobrania"
layout = "page"
is_hidden = 0

[documents]
documents = "documents"
[seo]
[pages]
==
{% set page =  pages.page('documents') %}
{{ seo.seo(page.seo)|raw }}
{% set documentsGroups = documents.documentGroups() %}
{% if documentsGroups %}
{% for documentsGroup in documentsGroups %}
<section class="uk-section uk-section-default uk-padding">
    <div class="container-inside container-inside--s uk-margin-auto uk-width-1-1">
        <article class="uk-article">
            <h2 class="uk-article-title"><a class="uk-link-reset" href="{{ document.file|media }}" download>{{ documentsGroup.name }}</a></h2>
            <p>{{ documentsGroup.description|raw }}</p>
            {% if documentsGroup.documents %}
            <div class="uk-grid-small uk-child-width-1-2@m" data-uk-grid>
                {% for document in documentsGroup.documents %}
                <div class="uk-flex uk-flex-wrap document">
                    <div class="document__icon uk-width-auto">
                        <img class="document__icon__img uk-animation-scale-up" src="{{ document.icon|media }}" data-src="{{ document.icon|media }}" data-width="" data-height="" alt="" data-uk-img>
                    </div>
                    <div class="uk-width-expand">
                        <div class="document__header uk-flex uk-flex-between uk-flex-row uk-flex-top">
                            <h3>{{ document.name }}</h3> <a href="{{ document.file|media }}" class="button uk-button uk-button-link" download>{{ 'Pobierz'|_ }}</a>
                        </div>
                        <div>{{ document.description|raw }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </article>
    </div>
</section>
{% endfor %}
{% endif %}

