title = "Error"
url = "/error"
layout = "system"
is_hidden = 0
==

<section class="uk-flex uk-flex-center uk-flex-wrap-middle uk-flex-column uk-height-1-1 uk-background-primary uk-flex-wrap">
    <div class="uk-display-inline-block uk-text-center ">
        <img style="width: 300px" src="{{ 'assets/dist/images/error.png'|theme }}" />
        <h1 class="uk-text-emphasis">Error</h1>
        <p>We're sorry, but something went wrong and the page cannot be displayed.</p>
    </div>
</section>
