title = "FAQ"
url = "/faq"
layout = "page"
is_hidden = 0

[faq]
[seo]
[pages]
==
{% set page =  pages.page('faq') %}
{{ seo.seo(page.seo)|raw }}
<section class="uk-section uk-section-default">
    <div class="container-inside container-inside--s uk-margin-auto uk-width-1-1 uk-child-width-1-1 uk-child-width-1-2@m uk-flex uk-flex-wrap faq-header">
        <div class="faq-header__column">
            <img src="{{ ('assets/dist/images/faq.svg')|theme }}" data-src="{{ ('assets/dist/images/faq.svg')|theme }}" data-width="" data-height="" alt="" data-uk-img>
        </div>
        <div class="faq-header__column">
            {{ pages.extendedField('faq', 'faq_description')|raw }}
        </div>
    </div>
</section>

<section class="uk-section uk-section-default">
    <div class="container-inside container-inside--s uk-margin-auto uk-width-1-1">
        {% set faqRecords = faq.faq() %}
        {% if faqRecords %}
        <ul class="faq-list" data-uk-accordion>
            {% for item in faqRecords %}
            <li>
                <a class="uk-accordion-title" href="#">
                    {{ item.name }}<span class="accordion-icon accordion-icon--close" uk-icon="icon: chevron-down"></span><span class="accordion-icon accordion-icon--open" uk-icon="icon:  chevron-up"></span>
                </a>
                <div class="uk-accordion-content">
                    {{ item.answer|raw }}
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</section>
