title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[contact]

[posts]

[imageresponsive]

[iconsbox]

[testimonial]

[socialmedia]

[places]

[seo]

[pages]
==
{% set page =  pages.page('home') %}
{{ seo.seo(page.seo)|raw }}

{% set postsRecords = posts.paginate(10) %}
{% set postsRecords = posts.category('realizacje', true, 20) %}
{% set iconsboxRecords = iconsbox.box('home') %}
{% set testimonialGroup = testimonial.testimonialGroup('home') %}
{% set socialmediaRecords = socialmedia.socialMedia() %}

{% set place = places.place('primary') %}
{% if place %}
{% set companyName = places.placeFiled('primary', 'name') %}
{% set phone = places.placeFiled('primary', 'phones', 'primary') %}
{% set email = places.placeFiled('primary', 'emails', 'primary') %}
{% set hours = places.placeFiled('primary', 'hours') %}
{% set address = places.placeFiled('primary', 'address') %}
{% set postcode = places.placeFiled('primary', 'post_code') %}
{% set city = places.placeFiled('primary', 'city') %}
{% set taxNumber = places.placeFiled('primary', 'tax_number') %}
{% set registrationNumber = places.placeFiled('primary', 'registration_number') %}

{% endif %}

<section class="uk-section uk-section-default">
    <div class="container-inside uk-margin-auto uk-flex uk-grid-collapse" uk-grid>
        <div class="uk-width-3-5@m uk-flex uk-flex-column uk-flex-center">
            <div class="history uk-margin-auto">
                <div class="history__top">
                    <span class="history__top__prefix">Od</span>
                    <span class="history__top__data" data-uk-scrollspy="cls:uk-animation-slide-top">44</span>
                    <span class="history__top__suffix">lat.</span>
                </div>
                <div class="history__description">
                    {{ pages.extendedField('home', 'about')|raw }}
                </div>
            </div>
        </div>
        <div class="uk-width-2-5@m uk-visible@m uk-text-center">
            <img class="uk-animation-scale-up" style="max-width:250px;"src="{{ 'assets/dist/images/history.png'|theme }}" data-src="{{ 'assets/dist/images/history.png'|theme }}" data-width="" data-height="" alt="" data-uk-img>
        </div>
        <div class="uk-width-1-1 uk-child-width-1-1 uk-child-width-1-3@m uk-flex uk-flex-wrap uk-margin-medium-top">
            <div class="history-icon">
                <span class="history-icon__prefix">{{ 'Niemal'|_ }}</span>
                <span class="history-icon__data" data-uk-scrollspy="cls:uk-animation-slide-top">{{ 'pół'|_ }}</span>
                <span class="history-icon__suffix">{{ 'wieku'|_ }}</span>
                <div class="history-icon__description">{{ 'doświadczenia'|_ }}</div>
            </div>
            <div class="history-icon">
                <span class="history-icon__prefix">{{ 'Ponad'|_ }}</span>
                <span class="history-icon__data" data-uk-scrollspy="cls:uk-animation-slide-top">{{ '15'|_ }}</span>
                <span class="history-icon__suffix">{{ 'tysięcy'|_ }}</span>
                <div class="history-icon__description">{{ 'realizacji'|_ }}</div>
            </div>
            <div class="history-icon">
                <span class="history-icon__prefix">{{ 'Park'|_ }}</span>
                <span class="history-icon__data" data-uk-scrollspy="cls:uk-animation-slide-top">{{ 'maszyn'|_ }}</span>
                <div class="history-icon__description">{{ 'najwyższej klasy'|_ }}</div>
            </div>
        </div>
    </div>
</section>
{% if postsRecords|length > 0 %}
{% partial "components/bar" title="Realizacje" subtitle="Nasze" %}
<section class="uk-section uk-section-default">
    <div class="container-inside uk-margin-auto uk-flex uk-grid-collapse" data-uk-grid>
        <div class="uk-width-1-1 uk-flex uk-flex-wrap uk-flex-wrap-reverse">
            <div class="blog-list__more uk-margin">
                <a  class="blog-list__more__link" href="{{ 'blog/category'|page({slug: 'realizacje'}) }}">{{ 'Zobacz więcej'|_ }}</a>
            </div>
            {% for post in postsRecords|reverse %}
            {% if post.is_home %}
            <section class="uk-width-1-2 uk-width-1-3@m ">
                <a href="{{ 'blog/post'|page({ slug: post.slug }) }}">
                    {% if post.poster.xlarge %}
                        <img data-uk-scrollspy="cls:uk-animation-scale-up" data-src="{{ post.poster.xlarge.thumb(400,400, 'crop') }}" data-width="" data-height="" alt="{{ post.title }}" data-uk-img>
                    {% else %}
                        <img data-uk-scrollspy="cls:uk-animation-scale-up" data-src="{{ 'assets/dist/images/posts-listing--home.jpg'|theme }}" data-width="" data-height="" alt="{{ post.title }}" data-uk-img>
                    {% endif %}
                </a>
            </section>
            {% endif %}
            {% endfor %}
            <section class="uk-width-1-1 uk-width-2-3@m blog-list__header">
                <h1>{{ pages.extendedField('home', 'realizations_title')|raw }}</h1>
                <hr>
                <div>
                    {{ pages.extendedField('home', 'realizations_description')|raw }}
                </div>
            </section>
        </div>
    </div>
</section>
{% endif %}
{% partial "components/bar" title="Otrzymasz:" subtitle="Wybierając nas" %}
{% if iconsboxRecords %}
<section class="uk-section uk-section-default">
    <div class="container-inside uk-margin-auto uk-flex uk-grid-collapse" data-uk-grid>
        <div class="uk-width-1-1 uk-child-width-1-1 uk-child-width-1-3@m uk-flex uk-flex-wrap">
            {% for box in iconsboxRecords.icons %}
            <div class="uk-flex uk-flex-center">
                <section class="icons-box uk-padding uk-margin-auto-left uk-margin-auto-right">
                    {% if box.icon %}
                        <img data-uk-scrollspy="cls:uk-animation-scale-up" src="{{ box.icon|media }}" data-src="{{ box.icon|media }}" data-width="" data-height="" alt="{{ box.name }}" data-uk-img>
                    {% endif %}
                    <h2 class="icons-box__title">{{ box.name }}</h2>
                    <hr class="icons-box__pipe">
                    <p class="icons-box__description">
                        {{ box.description|raw }}
                    </p>
                </section>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
{% partial "components/bar" title="O nas:" subtitle="Kilka słów" %}
<section class="uk-section uk-section-default" id="about">
    <div class="container-inside uk-margin-auto uk-position-relative" data-uk-slider="autoplay: false; sets: true">
        <ul class="uk-slider-items uk-child-width-1-1@s uk-child-width-1-3@m">
            {% for testimonial in testimonialGroup.testimonials %}
            <li class="uk-flex uk-flex-center">
                <div class="icons-box uk-padding">
                    {% if testimonial.poster %}
                        <img class="icons-box__icon" src="{{ testimonial.poster.thumb(128,128, 'crop') }}" data-src="{{ testimonial.poster.thumb(128,128, 'crop') }}" data-width="" data-height="" alt="{{ post.title }}" data-uk-img>
                    {% endif %}
                    <h2 class="icons-box__title">{{ testimonial.name }}</h2>
                    <hr class="icons-box__pipe">
                    <p class="icons-box__description">
                        {{ testimonial.description|raw }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% partial "components/bar" title="Kontaktu:" subtitle="Zapraszamy do" %}
<section class="uk-section uk-section-default" id="contact">
    <div class="container-inside uk-margin-auto uk-width-1-1 uk-child-width-1-1 uk-child-width-1-2@m uk-flex uk-flex-center uk-flex-middle uk-flex-wrap contact">
        <div class="contact-form contact-form--left">
            <div class="contact-form__description">
                {{ pages.extendedField('home', 'contact_description')|raw }}
            </div>
            <div class="contact-form__form">
                <form data-request="contact::onSubmit" data-request-files class="uk-grid-small"  data-uk-grid>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label">{{ 'Imię'|_ }}</label>
                        <input class="uk-input" name="name" type="text" placeholder="{{ 'Imię'|_ }}">
                    </div>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label">{{ 'Telefon'|_ }}</label>
                        <input class="uk-input" name="phone" type="tel" placeholder="{{ 'Telefon'|_ }}">
                    </div>
                    <div class="uk-width-1-1@s">
                        <label class="uk-form-label">{{ 'Adres email'|_ }}</label>
                        <input class="uk-input" name="email" type="email" placeholder="{{ 'Adres email'|_ }}">
                    </div>
                    <div class="uk-width-1-1">
                        <label class="uk-form-label">{{ 'Wiadomość'|_ }}</label>
                        <textarea class="uk-textarea" rows="5" name="message" placeholder="{{ 'Wiadomość'|_ }}"></textarea>
                    </div>
                    <div class="uk-width-1-1" id="js-upload-container">
                        <div>
                            <label class="uk-form-label">{{ 'Załącz pliki'|_ }}</label>
                        </div>
                        <div>
                            <div class="uk-margin-small" data-uk-form-custom="target: true">
                                <a class="uk-form-icon uk-form-icon-flip" href="" data-uk-icon="icon: download"></a>
                                <input class="js-upload-file" name="files[]" type="file">
                                <input class="uk-input uk-form-width-medium" type="text" placeholder="Wybierz plik" disabled>
                            </div>
                        </div>

                    </div>
                    <div class="contact-form__terms">
                        {{ pages.extendedField('home', 'contact_terms')|raw }}
                    </div>
                    <div class="uk-width-1-1">
                        <label><input class="uk-checkbox" type="checkbox" checked> {{ 'Akceptuje warunki korzystania z serwisu.'}} <a href="{{ 'terms'|page }}">{{ 'Regulamin'|_ }}</a> </label>
                    </div>
                    <button type="submit" class="contact-form__form__submit button uk-button uk-button-link uk-margin-auto">
                        {{ 'Wyślij'|_ }}</button>
                </form>
            </div>
        </div>
        <div class="contact-form contact-form--right">
            <div class="contact-social uk-flex uk-flex-row">
                <span class="contact-social__label">{{ 'Social Media'|_ }}:</span>
                {% for key, social in socialmediaRecords %}
                <a href="{{ social }}" class="contact-social__item" data-uk-icon="{{ key }}"></a>
                {% endfor %}
            </div>
            <section class="contact-oh">
                <h1 class="contact-oh__title">{{ 'Godziny <br>otwarcia'|_|raw }}</h1>
                <ul class="contact-oh__list">
                    {% for hour in hours %}
                    <li class="contact-oh__list__item">
                        <span class="contact-oh__list__item__day">{{ 'Poniedziałek'|_ }}</span>
                        <span class="contact-oh__list__item__hours">8.00 - 17.00</span>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <div class="contact-data">
                <div class="contact-data__title">{{ 'Dane Firmy'|_ }}</div>
                <div class="contact-data__data uk-text-uppercase">
                    {{ companyName }}<br>
                    {{ address }}, {{ postcode }} {{ city }}
                </div>
                <div class="contact-data__title">{{ 'Telefon / Mail'|_ }}</div>
                <div class="contact-data__data">
                    <a href="tel:{{ phone.value }}" class="contact-data__data__phone">{{ phone.value }}</a><br>
                    <a href="mailto:{{ email.value }}" class="contact-data__data__email">{{ email.value }}</a>
                </div>
                <div class="contact-data__title">{{ 'NIP / REGON'|_ }}</div>
                <div class="contact-data__data">
                    NIP {{ taxNumber }} / REGON: {{ registrationNumber }}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="uk-section uk-section-default uk-padding-remove"  id="maps">
    <div class="uk-width-1-1 uk-child-width-1-1 uk-child-width-1-2@m uk-flex uk-flex-wrap maps">
        <div class="maps__item">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2461.474077579362!2d15.504193316107804!3d51.90706117970285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4706110c236d69bd%3A0x6caef943518c3850!2sFirma%20kamieniarska%20Grygier-Granit!5e0!3m2!1spl!2spl!4v1588259370528!5m2!1spl!2spl" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="maps__item uk-visible@m">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2509505.3713598754!2d16.4045745014674!3d52.103592471591526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4706110c236d69bd%3A0x6caef943518c3850!2sFirma%20kamieniarska%20Grygier-Granit!5e0!3m2!1spl!2spl!4v1588773256366!5m2!1spl!2spl" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</section>