title = "Regulamin"
url = "/regulamin"
layout = "page"
is_hidden = 0
[seo]
[pages]
==
{% set page =  pages.page('terms') %}
{{ seo.seo(page.seo)|raw }}
<section class="uk-section uk-section-default uk-padding">
    <div class="container-inside container-inside--s uk-margin-auto uk-width-1-1">
        <article class="uk-article">
            <h2 class="uk-article-title">{{ pages.extendedField('terms', 'title')|raw }}</h2>
            <div>
                {{ pages.extendedField('terms', 'description')|raw }}
            </div>
        </article>
    </div>
</section>
