<!-- SEO::Start -->
{% if (seo is not null) and seo.is_active  %}
{% put seo %}
    <title>{{ seo.title }}</title>
    {% if seo.description is not empty %}<meta name="description" content="{{ seo.description }}" />{% endif %}
    {% if seo.title is not empty %}<meta name="title" content="{{ seo.title }}" />{% endif %}
    {% if seo.keywords is not empty %}<meta name="keywords" content="{{ seo.keywords }}" />{% endif %}
    {% if seo.robots is not empty %}<meta name="robots" content="{{ seo.robots }}" />{% endif %}
    {% if seo.canonical is not empty %}<link rel="canonical" href="{{ seo.canonical }}" />{% endif %}
    <meta name="author" content="Zoom-Marketing.pl" />
    {{ seo.additional_code|raw }}
{% endput %}
{% endif %}
<!-- SEO::End -->
