.flash-message {
    position: fixed;
    width: 500px;
    max-width: 100%;
    left: 50%;
    top: 13px;
    margin-left: -250px;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 30px 10px 15px;
    z-index: 10000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.flash-message.fade {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s,width 0s;
    transition: all 0.5s,width 0s;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9)
}

.flash-message.fade.in {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.flash-message.success {background: #8da85e}

.flash-message.error {background: #cc3300}

.flash-message.warning {background: #f0ad4e}

.flash-message.info {background: #5fb6f5}

.flash-message button {
    float: none;
    position: absolute;
    right: 10px;
    top: 8px;
    color: white
}

.flash-message button:hover {color: white}

.flash-message.static {
    position: static !important;
    width: auto !important;
    display: block !important;
    margin-left: 0 !important
}
