title = "Katalog / Kategoria"
url = "/katalog/:slug"
layout = "page"
is_hidden = 0

[CategoryPage]
slug = "{{ :slug }}"
slug_required = 1
smart_url_check = 0
has_wildcard = 0
skip_error = 0

[ProductList]
sorting = "no"

[Pagination]
count_per_page = 60
pagination_limit = 5
active_class = "_act"
first_button_name = "First"
first_button_limit = 1
first-more_button_name = "..."
first-more_button_limit = 1
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 1
last_button_name = "Last"
last_button_limit = 1

[posts]
[seo]
[shopaholicSeo]
[pages]
==
{% set page =  pages.page('shop-category') %}
{% set postsRecords = posts.randomFromCategory({ 'c1': 'inspiracje', 'c2': this.param.slug}, 3) %}

{% set obCategory = CategoryPage.get() %}

{% if obCategory is not null %}
    {{ seo.seo(shopaholicSeo.getCategory(obCategory))|raw }}
{% endif %}

{# Get product collection #}
{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active().category(obCategory.id) %}

{# Get array with pagination buttons #}
{% set iPage = Pagination.getPageFromRequest() %}
{% set arPaginationList = Pagination.get(iPage, obProductList.count()) %}

{# Apply pagination to product collection and get array with product items #}
{% set arProductList = obProductList.page(iPage, Pagination.getCountPerPage()) %}

<section class="uk-section uk-section-default uk-padding-remove-bottom">
    <div class="container-inside uk-margin-auto uk-flex uk-flex-wrap product-category-header">
        <div class="uk-width-1-1 uk-width-1-6@m product-category-header__title" >
            {{ pages.extendedField('shop-category', 'shop_category_title')|raw }}
        </div>
        <div class="uk-width-1-1 uk-width-expand@m product-category-header__description">
            {{ pages.extendedField('shop-category', 'shop_category_description')|raw }}
        </div>
    </div>
</section>

<section class="uk-section uk-section-default uk-padding-remove-bottom">
    <div class="container-inside uk-margin-auto uk-flex uk-flex-wrap uk-flex-around">
        <span  class="button active">
            {{ obCategory.name }}
        </span>
        {% if obCategory.children.isNotEmpty() %}
            {% for obChildCategory in obCategory.children if obChildCategory.product_count > 0 %}
                <a class="button" href="{{ obChildCategory.getPageUrl('shop/category') }}">
                    {{ obChildCategory.name }}
                </a>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% set postLoop = 0 %}
{% if arProductList is not empty %}
    <section class="uk-section uk-section-default">
        <div class="uk-container uk-container-expand uk-padding-remove">
            <ul class="products-list uk-flex uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-6@m uk-flex-wrap">
                {% for obProduct in arProductList %}
                    <li class="products-list__item">
                        {% partial 'shop/product-listing' obProduct=obProduct %}
                    </li>
                    {% if loop.index % 12 == 0 and loop.index <= 36 and (postsRecords[postLoop] is not empty) %}
                         <li class="products-list__item uk-width-1-1">
                             {% partial "blog/post-shop-listing"  i=loop.index post=postsRecords[postLoop] %}
                         </li>
                        {% set postLoop = postLoop + 1 %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
    {# Render pagination buttons #}

    {% if arPaginationList is not empty %}
    <div class="uk-flex uk-flex-center">
        <ul class="pagination">
        {% for arPagination in arPaginationList %}
            <li {% if arPagination.value == iPage %} class="active"{% endif %}>
                {% if arPagination.value != iPage %}<a href="?page={{ arPagination.value }}" class="{{ arPagination.class }}">{% endif %}
                    {{ arPagination.name }}
                {% if arPagination.value != iPage %}</a>{% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endif %}
