title = "Shop / Product"
url = "/produkt/:slug"
layout = "page"
is_hidden = 0

[imageresponsive]

[ProductPage]
slug = "{{ :slug }}"
slug_required = 1
smart_url_check = 1
skip_error = 0
==
{# Get product item #}
{% set obProduct = ProductPage.get() %}

{% if obProduct is not null %}
<section class="uk-section uk-section-default">
    <div class="container-inside uk-margin-auto uk-width-1-1">
        <section class="article-in-list">
            <div class="article-in-list__picture">
                {% if obProduct.preview_image is not empty %}
                <img
                    class="uk-width-1-1"
                    src="{{ obProduct.preview_image.thumb('1200', '375', 'crop') }}"
                    data-src="{{ obProduct.preview_image.thumb('1200', '375', 'crop') }}"
                    itemprop="image"
                    alt="{{ obProduct.preview_image.description }}"
                    title="{{ obProduct.preview_image.title }}"
                    data-uk-img
                >
                {% endif %}
            </div>
            <div class="article-in-list__content" itemscope itemtype="http://schema.org/Product">
                <div class="article-in-list__content__header">
                    {% if obProduct.preview_text is not empty %}
                    <p class="article-in-list__content__header__subtitle">
                        {{ obProduct.preview_text }}
                    </p>
                    {% endif %}
                    <h2 class="article-in-list__content__header__title" itemprop="name">{{ obProduct.name }}</h2>
                    {% if obProduct.category is not empty %}
                    <span class="article-in-list__content__header__description">
                        <span class="uk-margin-small-right">{{ obProduct.category.name }}</span>
                    </span>
                    {% endif %}
                </div>
                <div class="article-in-list__content__content uk-flex uk-flex-wrap">
                    <div class="uk-width-4-5@m" itemprop="description">
                        {{ obProduct.description|raw }}
                    </div>
                    <div class="uk-width-1-5@m uk-child-width-1-1@m uk-grid-collapse uk-padding-small uk-padding-remove-vertical" data-uk-grid data-uk-lightbox="animation: slide">
                        {% if obProduct.images %}
                            {% for picture in obProduct.images %}
                            <a class="uk-display-block" href="{{ picture.getPath() }}" data-caption="Caption {{i}}">
                                <img data-uk-scrollspy="cls:uk-animation-scale-up" data-src="{{ picture.thumb('200', '200', 'crop') }}" data-width="" data-height="" alt="" data-uk-img>
                            </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
{% endif %}
<div class="uk-flex uk-flex-center uk-padding">
    <a href="#" class="button" onclick="window.history.back()">
        {{ 'Powrót'|_ }}
    </a>
</div>

{% if obProduct is not null %}%}
    {% put seo %}
    <title>{{ obProduct.name }} - {{ this.theme.site_name }}</title>
    <meta name="title" content="{{ obProduct.name }}" />
    <meta name="author" content="Zoom-Marketing.pl" />
    {% endput %}
{% endif %}

