title = "Promocje"
url = "/promocje"
layout = "page"
is_hidden = 0

[PromoBlockList]
sorting = "default"

[seo]

[pages]
==
{% set page =  pages.page('shop-promotions') %}
{{ seo.seo(page.seo)|raw }}
{# Get promo block collection #}
{% set obPromoBlockList = PromoBlockList.make().active() %}
{# Get array with random promo blocks #}
{% set arPromoBlockList = obPromoBlockList.random(5) %}


{% if arPromoBlockList is not empty %}

{# Render promo block list #}
{% for obPromoBlock in arPromoBlockList %}
<section class="uk-section uk-section-default uk-padding">
    <div class="container-inside container-inside--s uk-margin-auto uk-width-1-1">

            <div>
                {% if obPromoBlock.preview_image is not empty %}
                <img
                    src="{{ obPromoBlock.preview_image.path }}"
                    itemprop="image"
                    alt="{{ obPromoBlock.preview_image.description }}"
                    title="{{ obPromoBlock.preview_image.title }}">
                {% endif %}
                <h3 itemprop="name">{{ obPromoBlock.name }}</h3>
                {% if obPromoBlock.preview_text is not empty %}
                <div itemprop="description">
                    {{ obPromoBlock.preview_text }}
                </div>
                {% endif %}
            </div>
    </div>
</section>

{% if obPromoBlock.product|length > 0 %}
{% set arProductList = obPromoBlock.product %}
<section class="uk-section uk-section-default">
    <div class="uk-container uk-container-expand uk-padding-remove">
        <ul class="products-list uk-flex uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-6@m uk-flex-wrap">
            {% for obProduct in arProductList %}
            <li class="products-list__item">
                {% partial 'shop/product-listing' obProduct=obProduct %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endif %}

{% endfor %}
{% endif %}