title = "Szukaj"
url = "/szukaj"
layout = "page"
is_hidden = 0

[ProductList]
sorting = "popularity|desc"

[Pagination]
count_per_page = 15
pagination_limit = 5
active_class = ""
button_list = "first,first-more,main,last-more,last"
first_button_name = "First"
first_button_limit = 3
first_button_number = 1
first-more_button_name = "..."
first-more_button_limit = 4
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 4
last_button_name = "Last"
last_button_limit = 3
last_button_number = 1
[seo]
[pages]
==
{% set page =  pages.page('shop-search') %}
{{ seo.seo(page.seo)|raw }}
<section class="uk-section uk-section-default">
    <div class="container-inside uk-margin-auto uk-width-1-1">

        {# Get search string #}
        {% set sSearch = input('search') %}

        {# Get product collection #}
        {% set obProductList = ProductList.make().active().search(sSearch) %}

        {# Get array with pagination buttons #}
        {% set iPage = Pagination.getPageFromRequest() %}
        {% set iCount = obProductList.count() %}

        {# Apply pagination to product collection and get array with product items #}
        {% set arProductList = obProductList.page(iPage, Pagination.getCountPerPage()) %}

        {% if arProductList is not empty %}
        {# Render product list #}

            {% for obProduct in arProductList %}
                <section class="article-in-list">
                    <div class="article-in-list__picture">
                        {% if obProduct.preview_image is not empty %}
                        <a href="{{ obProduct.getPageUrl('shop/product') }}">
                        <img
                            class="uk-width-1-1"
                            src="{{ obProduct.preview_image.thumb('1200', '375', 'crop') }}"
                            data-src="{{ obProduct.preview_image.thumb('1200', '375', 'crop') }}"
                            itemprop="image"
                            alt="{{ obProduct.preview_image.description }}"
                            title="{{ obProduct.preview_image.title }}"
                            data-uk-img
                        >
                        </a>
                        {% endif %}
                    </div>
                    <div class="article-in-list__content" itemscope itemtype="http://schema.org/Product">
                        <div class="article-in-list__content__header">
                            {% if obProduct.preview_text is not empty %}
                            <p class="article-in-list__content__header__subtitle">
                                {{ obProduct.preview_text }}
                            </p>
                            {% endif %}
                            <h2 class="article-in-list__content__header__title" itemprop="name">{{ obProduct.name }}</h2>
                            {% if obProduct.category is not empty %}
                            <span class="article-in-list__content__header__description">
                                <span class="uk-margin-small-right">{{ obProduct.category.name }}</span>
                            </span>
                            {% endif %}
                        </div>
                        <div class="article-in-list__content__content uk-flex uk-flex-wrap">
                            <div class="uk-width-4-5@m" itemprop="description">
                                {{ obProduct.description|striptags|length > 512 ? obProduct.description|striptags|slice(0,512)|raw : obProduct.description|raw }}
                                {{ obProduct.description|striptags|length > 512 ? '...' : ''}}
                            </div>
                            <div class="uk-width-1-5@m uk-flex uk-flex-bottom uk-flex-right">
                                <a href="{{ obProduct.getPageUrl('shop/product') }}" class="article-in-list__content__content__more">
                                    <span data-uk-icon="chevron-right">{{ 'ZOBACZ WIĘCEJ'|_ }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}

        {% else %}
        <div>
            Products not found
        </div>
        {% endif %}
    </div>
</section>
{% if arProductList is not empty %}
<div class="uk-flex uk-flex-center">

    {% set arPaginationList = Pagination.get(iPage, iCount) %}

    {# Render pagination buttons #}
    {% if arPaginationList is not empty %}
    <ul class="pagination">
        {% for arPagination in arPaginationList %}
        <li {% if arPagination.value == iPage %} class="active"{% endif %}>
            {% if arPagination.value != iPage %}<a href="{{ url_current() }}?page={{ arPagination.value }}&search={{ sSearch }}" class="{{ arPagination.class }}">{% endif %}
            {{ arPagination.name }}
            {% if arPagination.value != iPage %}</a>{% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endif %}
