{% put scripts %}
{{ scripts|raw }}
{% endput %}

{% put styles %}
{{ styles|raw }}
{% endput %}

{% put headAfter %}
{{ headAfter|raw }}
{% endput %}

{% put bodyBefore %}
{{ bodyBefore|raw }}
{% endput %}

{% put bodyAfter %}
{{ bodyAfter|raw }}
{% endput %}

{% put appIcons %}
<!--Favicon && App Icons -->
{% if appIcon %}
<link rel="apple-touch-icon" sizes="57x57" href="{{ appIcon.thumb(57,57,'crop') }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ appIcon.thumb(60,60,'crop') }}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ appIcon.thumb(72,72,'crop') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ appIcon.thumb(76,76,'crop') }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ appIcon.thumb(114,114,'crop') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ appIcon.thumb(120,120,'crop') }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ appIcon.thumb(144,144,'crop') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ appIcon.thumb(152,152,'crop') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ appIcon.thumb(180,180,'crop') }}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ appIcon.thumb(192,192,'crop') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ appIcon.thumb(32,32,'crop') }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ appIcon.thumb(96,96,'crop') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ appIcon.thumb(16,16,'crop') }}">
<meta name="msapplication-TileImage" content="{{ appicon.thumb(144,144,'crop') }}">
{% if appColor %}
<meta name="msapplication-TileColor" content="{{ appColor }}">
<meta name="theme-color" content="{{ appColor }}">
{% endif %}
{% endif %}
<!--Favicon && App Icons -->
{% endput %}


