.card{
    background-color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.card-icon{

}
.card-icon > i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
    padding-right: 2rem;
}

.card-body{
    flex: 1;
}

.card-title{

}
