{% if (slide is not null) and slide.layer_xlarge %}
    <picture>
        {% if slide.layer_small %}<source media="(max-width: 639px)" srcset="{{ slide.layer_small.getPath() }}">{% endif %}
        {% if slide.layer_medium %}<source media="(max-width: 959px)" srcset="{{ slide.layer_medium.getPath() }}">{% endif %}
        {% if slide.layer_large %}<source media="(max-width: 1199px)" srcset="{{ slide.layer_large.getPath() }}">{% endif %}
        <img src="{{ slide.layer_xlarge.getPath() }}" alt="{{ slide.layer_xlarge.title }}">
    </picture>
{% endif %}

