<section class="uk-section uk-section-default bar" uk-img>
    <div class="container-inside uk-margin-auto">
        <p class="bar__subtitle">{{ subtitle|_ }}</p>
        <h2 class="bar__title">{{ title|_ }}</h2>
    </div>
    <hr class="bar__pipe"/>
</section>
