[CategoryList]

[socialmedia]
==
{% set socialmediaRecords = socialmedia.socialMedia() %}
{% set obCategoryList = CategoryList.make().tree() %}

<div class="navbar-menu navbar-menu--{{ mode }}">
    <div class="container-inside navbar-menu__container">
        <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
            <div class="uk-navbar-left uk-{{ mode }} uk-width-expand">
                <a href="{{ 'home'|page }}" class="uk-navbar-item uk-logo">
                    <img class="navbar-menu__logo" src="{{ ('assets/dist/images/logo--' ~ mode ~ '.png')|theme }}" data-src="{{ ('assets/dist/images/logo--' ~ mode ~ '.png')|theme }}" data-width="" data-height="" alt="" data-uk-img>
                </a>

                <ul class="uk-navbar-nav uk-visible@m uk-width-expand uk-flex-between">
                    {% if obCategoryList.isNotEmpty() %}
                    {% for obCategory in obCategoryList if obCategory.product_count > 0 %}
                    <li>
                        <a class="navbar-menu__link" href="{{ obCategory.getPageUrl('shop/category') }}">{{ obCategory.name }}</a>
                        {% if obCategory.children.isNotEmpty() %}
                        <div class="uk-navbar-dropdown uk-padding-remove" data-uk-dropdown="offset: 6; pos: bottom-left">
                            <ul class="uk-nav uk-navbar-dropdown-nav navbar-submenu">
                                {% for obChildCategory in obCategory.children if obChildCategory.product_count > 0 %}
                                <li><a class="navbar-submenu__link"  href="{{ obChildCategory.getPageUrl('shop/category') }}">{{ obChildCategory.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                    {% endif %}
                    <li><a class="navbar-menu__link" href="{{ 'shop/promotions'|page }}">{{ 'Realizacje'|_ }}</a></li>
                    <li><a class="navbar-menu__link" href="{{ 'home'|page }}#contact" {% if mode != 'dark' %}uk-scroll="offset: 135" {% endif %}>{{ 'Kontakt' }}</a></li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav navbar-icons">
                    <li class="navbar-icons__item">
                        <a class="uk-button uk-light uk-button-link" type="button" data-uk-icon="icon: menu"></a>
                        <div class="uk-navbar-dropdown uk-padding-remove" data-uk-dropdown="offset: 6; pos: bottom-right">
                            <ul class="uk-nav uk-navbar-dropdown-nav navbar-submenu">
                                {% if obCategoryList.isNotEmpty() %}
                                {% for obCategory in obCategoryList if obCategory.product_count > 0 %}
                                    <li class="uk-hidden@m"><a class="navbar-submenu__link" href="{{ obCategory.getPageUrl('shop/category') }}">{{ obCategory.name }}</a></li>
                                {% endfor %}
                                {% endif %}
                                <li><a class="navbar-submenu__link" href="{{ 'blog/category'|page({slug: 'inspiracje'}) }}">{{ 'Inspiracje'|_ }}</a></li>
                                <li><a class="navbar-submenu__link" href="{{ 'blog/category'|page({slug: 'realizacje'}) }}">{{ 'Realizacje'|_ }}</a></li>
                                <li><a class="navbar-submenu__link" href="{{ 'documents'|page }}">{{ 'Dokumenty'|_ }}</a></li>
                                <li><a class="navbar-submenu__link" href="{{ 'faq'|page }}">{{ 'FAQ'|_ }}</a></li>
                                <li class="uk-hidden@m"><a class="navbar-submenu__link" href="{{ 'shop/promotions'|page }}">{{ 'Promocje'|_ }}</a></li>
                                <li class="uk-hidden@m"><a class="navbar-submenu__link" href="{{ 'home'|page }}#contact" {% if mode != 'dark' %}uk-scroll="offset: 135" {% endif %}>{{ 'Kontakt' }}</a></li>
                                <li>
                                    <div class="uk-flex uk-flex-center menu-social uk-padding-small">
                                        {% for key, social in socialmediaRecords %}
                                        <a href="{{ social }}" class="menu-social__item uk-margin-right" data-uk-icon="{{ key }}"></a>
                                        {% endfor %}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="navbar-icons__item">
                        <a class="uk-button uk-light uk-button-link" type="button" data-uk-icon="icon: search"></a>
                        <div class="uk-navbar-dropdown navbar-search" data-uk-dropdown="offset: 6; pos: bottom-right">
                            <form action="{{ 'shop/search'|page }}" class="uk-search uk-search-default">
                                <span data-uk-search-icon></span>
                                <input class="uk-search-input navbar-search__input" name="search" type="search" placeholder="{{ 'Szukaj...'|_ }}">
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>