[places]
==
{% set place = places.place('primary') %}
{% if place %}
    {% set phone = places.placeFiled('primary', 'phones', 'primary') %}
    {% set email = places.placeFiled('primary', 'emails', 'primary') %}
    {% set address = places.placeFiled('primary', 'address') %}
    {% set city = places.placeFiled('primary', 'city') %}
{% endif %}
<nav class="navbar-contact uk-dark">
    <div class="container-inside navbar-contact__container">
        {% if place is not null %}
        <ul class="uk-iconnav uk-flex-between">
            {% if phone is not null %}<li><a href="tel:{{ phone.value }}"><span data-uk-icon="icon: phone"></span> {{ phone.value }}</a></li>{% endif %}
            {% if email is not null %}<li><a href="mailto:{{ email.value }}"><span data-uk-icon="icon: mail"></span> {{ email.value }}</a></li>{% endif %}
            {% if address is not null %}<li class="uk-visible@s"><a href="{{ 'home'|page }}#maps" {% if mode != 'dark' %} data-uk-scroll="offset: 135"{% endif %}><span data-uk-icon="icon: location"></span>{{ city }}, {{ address }}</a></li>{% endif %}
        </ul>
        {% endif %}
    </div>
</nav>
