{% if obProduct %}
<div class="product-list">
    <div class="product-list__picture">
        <a href="{{ obProduct.getPageUrl('shop/product') }}">
            {% if obProduct.preview_image is not empty %}
            <img class="uk-width-1-1" src="{{ obProduct.preview_image.thumb('300','300', 'crop') }}" data-src="{{ obProduct.preview_image.thumb('300','300', 'crop') }}" data-width="" data-height="" title="{{ obProduct.preview_image.title }}"  alt="{{ obProduct.preview_image.description }}" data-uk-img>
            {% else %}
            <img class="uk-width-1-1" src="{{ ('assets/dist/images/product-list.png')|theme }}" data-src="{{ ('assets/dist/images/product-list.png')|theme }}" data-width="" data-height="" alt="" data-uk-img>
            {% endif %}
        </a>
    </div>
    <div class="product-list__description">
        <div class="product-list__description__title">{{ obProduct.name }}</div>
        {% if obProduct.category is not null %}
        <div class="product-list__description__subtitle">{{ obProduct.category.name }}</div>
        {% endif %}
    </div>
</div>
{% endif %}
