<?php if(is_array($menuItems)): ?>

    <div class="row">
        <?php foreach($menuItems as $item): ?>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-icon">
                    <i class="<?=$item->icon ?>  icon-5x"></i>
                </div>
                <div class="card-body">
                    <h4 class="card-title"><?=$item->label ?></h4>
                    <a href="<?=$item->url ?>" class="btn btn-sm d-block btn-primary">
                        <?=trans('grape.widgets::lang.global.go') ?> <i class="icon-caret-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <?php endforeach; ?>
    </div>

<?php endif; ?>
