title = "Blog / Kategoria"
url = "/blog/kategoria/:slug"
layout = "page"
is_hidden = 0

[posts]
[slider]
slider = "blog-category"
[imageresponsive]
[seo]
[pages]
==
{% set page =  pages.page('blog-category') %}
{{ seo.seo(page.seo)|raw }}
{% set postRecords = posts.category(this.param.slug, true, 2) %}
{% if slider.slider() %}
<section class="uk-section uk-section-default uk-margin-large-top uk-padding-remove-bottom">
    <div class="container-inside uk-margin-auto uk-width-1-1">

        <div class="showroom">

            <div class="slider-home uk-position-relative uk-visible-toggle uk-light" tabindex="-1" data-uk-slideshow="animation: push; autoplay: false">
                <ul class="uk-slideshow-items">
                    {% for slide in slider.slider().sliderItems %}
                    {% if slide.poster %}
                    <li>
                        <div class="uk-position-cover">
                            {{ imageresponsive.picture(slide.poster, null, 'uk-cover', ' style="width: 100%"')|raw }}
                        </div>
                        <div class="slider-home__layer uk-position-bottom-right">
                            {% partial 'slider/layer' slide=slide %}
                        </div>
                        {% if slide.content %}
                        {% set classes = {
                        'small': 'uk-hidden@s',
                        'medium': 'uk-hidden@m  uk-visible@s',
                        'large': 'uk-hidden@l uk-visible@m',
                        'xlarge': 'uk-visible@l',
                        } %}
                        <div class="uk-position-bottom-right">
                            {% for content in slide.content %}
                            <div class="slider-home__text {{ classes[content.size] }}" data-uk-slideshow-parallax="scale: 1,1,0.8">
                                {{ content.content|raw }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-previous data-uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-next data-uk-slideshow-item="next"></a>
            </div>


            <div class="showroom__label">
                <div class="showroom__label__content">
                    <img class="uk-width-1-1" src="{{ ('assets/dist/images/showroom.svg')|theme }}" data-src="{{ ('assets/dist/images/showroom.svg')|theme }}" data-width="" data-height="" alt="" data-uk-img>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="uk-section uk-section-default">
    <div class="container-inside uk-margin-auto uk-width-1-1">
        {% for post in postRecords %}
            {% partial "blog/post-listing" post=post %}
        {% endfor %}
    </div>
</section>

<div class="uk-flex uk-flex-center">
    {{ postRecords.render|raw }}
</div>
