title = "Blog / Post"
url = "/blog/wpis/:slug"
layout = "page"
is_hidden = 0
[posts]
[imageresponsive]
[seo]
==
{% set post = posts.post(this.param.slug) %}
{{ seo.seo(post.seo)|raw }}
{% if post is not null %}
<section class="uk-section uk-section-default">
    <div class="container-inside uk-margin-auto uk-width-1-1">
        <section class="article-in-list">
            <div class="article-in-list__picture">
                {% if post.poster.xlarge %}
                    {{ imageresponsive.picture(post.poster, { 'width': '1200', 'height': '375', 'mode': 'crop' })|raw }}
                {% endif %}
            </div>
            <div class="article-in-list__content">
                <div class="article-in-list__content__header">
                    <p class="article-in-list__content__header__subtitle">{{ post.short_description }}</p>
                    <h2 class="article-in-list__content__header__title">{{ post.name }}</h2>
                    <span class="article-in-list__content__header__description">
                        {% for category in  post.categories %}
                            <span class="uk-margin-small-right">{{ category.name }}</span>
                        {% endfor %}
                    </span>
                </div>
                <div class="article-in-list__content__content uk-flex uk-flex-wrap">
                    <div class="uk-width-4-5@m">
                        {{ post.description|raw }}
                    </div>
                    <div class="uk-width-1-5@m uk-child-width-1-1@m uk-grid-collapse uk-padding-small uk-padding-remove-vertical" data-uk-grid data-uk-lightbox="animation: slide">
                        {% if (post.galleries) and (post.galleries.first()) %}
                            {% set gallery = post.galleries.first() %}
                            {% for picture in gallery.photos %}
                            <a class="uk-display-block" href="{{ picture.getPath() }}" data-caption="Caption {{i}}">
                                <img data-uk-scrollspy="cls:uk-animation-scale-up" data-src="{{ picture.thumb('200', '200', 'crop') }}" data-width="" data-height="" alt="" data-uk-img>
                            </a>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>
            </div>
        </section>
    </div>
</section>
{% endif %}

<div class="uk-flex uk-flex-center uk-padding">
    <a href="#" class="button" onclick="window.history.back()">
        {{ 'Powrót'|_ }}
    </a>
</div>
